In [2]:
import pandas

In [5]:
train = pandas.read_csv("A:/Programming/Python/Data/AI_DOCTOR/Any_NLP_Problem/spooky/train.csv")
test  = pandas.read_csv("A:/Programming/Python/Data/AI_DOCTOR/Any_NLP_Problem/spooky/test.csv")
sample= pandas.read_csv("A:/Programming/Python/Data/AI_DOCTOR/Any_NLP_Problem/spooky/sample_submission.csv")

In [6]:
train.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [7]:
test.head()

        id                                               text
0  id02310  Still, as I urged our leaving Ireland with suc...
1  id24541  If a fire wanted fanning, it could readily be ...
2  id00134  And when they had broken down the frail door t...
3  id27757  While I was thinking how I should possibly man...
4  id04081  I am not sure to what limit his knowledge may ...

In [8]:
sample.head()

        id       EAP       HPL       MWS
0  id02310  0.403494  0.287808  0.308698
1  id24541  0.403494  0.287808  0.308698
2  id00134  0.403494  0.287808  0.308698
3  id27757  0.403494  0.287808  0.308698
4  id04081  0.403494  0.287808  0.308698

In [9]:
def multiclass_logloss(actual, predicted, eps=1e-15):
    if len(actual.shape) == 1:
        actual2 = np.zeros((actual.shape[0], predicted.shape[1]))
        for i, val in enumerate(actual):
            actual2[i, val] = 1
        actual = actual2
    clip = np.clip(predicted, eps, 1-eps)
    rows = actual.shape[0]
    vsota = np.sum(actual*np.log(clip))
    return -1.0/rows*vsota

In [11]:
from sklearn import preprocessing

In [12]:
lbl_enc = preprocessing.LabelEncoder()
y = lbl_enc.fit_transform(train.author.values)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_valid, y_train, y_valid = train_test_split(train.text.values, y,
                                                     stratify=y,
                                                     test_size=0.1,
                                                     random_state=42,
                                                     shuffle=True)

In [16]:
print("x_train.shape", x_train.shape)
print("x_valid.shape", x_valid.shape)

x_train.shape (17621,)
x_valid.shape (1958,)

In [17]:
17621 + 1958

19579

In [18]:
y.shape

(19579,)